<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.mail-buddy.trainer</string>
  <key>ProgramArguments</key>
  <array><string>__TRAINER_SCRIPT__</string></array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>__MLX_BIN__:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartInterval</key><integer>3600</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>__LOG_DIR__/trainer.log</string>
  <key>StandardErrorPath</key><string>__LOG_DIR__/trainer-error.log</string>
  <key>ProcessType</key><string>Background</string>
</dict>
</plist>
